*{
    margin: 0;
    padding: 0;
    background-color: #E8F5E9;
}

.search-bar{
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}
input{
   padding: .5rem 10rem;
   border: solid 3px black;
   text-align: center;
}
.btn{
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.ara{
    padding: .6rem 3.75rem;
}
.temizle{
    padding: .6rem 3rem;
    margin-left: 1rem;
}
.image-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.card{
    margin: 20px;
}
